.findscooter-container {
    background: linear-gradient(#8fbd52, #008037);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.findscooter-index-buttons-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    border-radius: 10px;
}

.findscooter-index-placeholder {
    height: 200px;
}

.logo-findscooter-index {
    width: 200px;
    margin-top: 50px;
    margin-inline: auto;
}

.findscooter-img {
    margin-bottom: 50px;
    width: 300px;
    margin-inline: auto;
}

.findscooter-container h1 {
    font-weight: 600;
}

.findscooter-index-buttons-container {
    display: flex;
    flex-direction: column;
}

.findscooter-index-placeholder {
    height: 200px;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px
}

.header-flex * {
    width: 130px;
    height: 42px;
}

.map-container-findscooter {
    width: 100%;
    height: 90%;
}

@media (min-width: 550px) {
    .header-flex h1 {
        width: 250px!important;
    }
  }
  