.findscooter-container {
    background: linear-gradient(#8fbd52, #008037);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.findscooter-index-buttons-container {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 22px 22px 30px 22px;
    border-radius: 10px;
}

.findscooter-index-buttons-container h4{
    margin: 0;
}

.findscooter-index-placeholder {
    height: 200px;
}

.pricelist-container {
    width: 265px;
    height: 210px;
    text-align: left;
}

.pricelist-container p {
    line-height: 1;
}

.price-table {
    width: 100%;
    text-align: left;
}

.price-row tr td{
    text-align: right;
}

.white-background {
    background-color: #d7efe1;
}

.logo-findscooter-index {
    width: 200px;
    margin-top: 50px;
    margin-inline: auto;
}

.findscooter-img {
    margin-bottom: 50px;
    width: 300px;
    margin-inline: auto;
}

.findscooter-container h1 {
    font-weight: 600;
}

.findscooter-index-buttons-container {
    display: flex;
    flex-direction: column;
}

.findscooter-index-placeholder {
    height: 200px;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px
}

.header-flex * {
    width: 130px;
    height: 42px;
}

.map-container-findscooter {
    width: 100%;
    height: 90%;
}

.info-window-container {
    padding: 10px 5px 10px 0;
    min-width: 100px;
    max-width: 200px;
}

.info-window-text {
    width: 100%;
    text-align: left;
}

.info-window-text p {
    margin: 0;
}

@media (min-width: 550px) {
    .header-flex h1 {
        width: 250px!important;
    }
  }
  