.green-container {
    background: linear-gradient(#8fbd52, #008037);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo {
    width: 200px;
    margin-inline: auto;
    position: relative;
    top: 20px;
}

.start-img {
    width: 400px;
    margin-inline: auto;
}

.new-user-created {
    height: 20px;
}

.start-placeholder {
    height: 20px;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.github-container {
    text-decoration: none;
}

.github-button {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;
    margin-top:20px;
    padding: 11px;
    background-color: rgb(22, 27, 34);
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.github-button:hover {
    color: black;
}

.github-button img {
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
}

.github-button p {
    font-size: 19px;
    color: rgb(201, 209, 217);
}

.login-field {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #d7efe1;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
}

.login-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-field input {
    border-radius: 5px;
    border: 1px solid;
    border-color: green;
    margin-block: 5px;
    margin-top: 0;
    padding: 10px;
    background-color: #d7efe1;
}

.login-field div {
    text-align: left;
    font-size: 20px;
}

.spinner-container {
    margin-inline: auto;
}