.mypage-container {
    background: linear-gradient(#8fbd52, #008037);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.mypage-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-page-logo {
    width: 200px;
    margin-inline: auto;
    position: relative;
    bottom: 30px;
}

.info-container {
    width: 350px;
    margin-inline: auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    border-radius: 10px;
    background-color: #d7efe1;
}

.update-userinfo-buttons-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-container input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    border-color: green;
    margin-block: 5px;
    margin-top: 0;
    padding: 10px;
    background-color: #d7efe1;
}

.back-button {
    margin: 15px 0 0 15px;
}

.history-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.info-container p {
    font-size: 20px;
    margin: 0;
}

.info-container button {
    text-align: center;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.info-row div {
    text-align: left;
}

.info-container table {
    width: 300px;
}

.info-container table tr th {
    width: 150px;
}

.info-container table tr td {
    text-align: right;
}

.page-container {
    min-width: 350px;
    max-height: 550px;
    margin-inline: auto;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #bfecd4;
}

.history-container {
    min-width: 350px;
    max-height: 400px;
    margin-inline: auto;
    padding: 25px;
    overflow-y: scroll;
}

.page-container table {
    width: 100%;
}

.one-trip {
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    background-color: #d7efe1;
}

.one-trip tr th {
    padding-left: 5px;
}

.history-table {
    margin-bottom: 15px;
}

.money-input-container {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amount-button {
    width: 70px;
    height: 50px;
    margin-top:20px;
    padding-top: 7px;
    background-color: #eefcf4;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selected-amount-button {
    width: 70px;
    height: 50px;
    margin-top:20px;
    padding-top: 7px;
    background-color: rgb(216, 124, 3);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.money-action-buttons-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loading-spinner {
    margin-inline: auto;
}

.sum-row {
    background-color: #c2d4c7;
}